ion-content{
  --background: #FAE48BFF!important;
}
.ion-color{
background-color: #E762D7FF!important;
}
ion-button{
  --color: #B7E4F9FF!important;
  --background: #24325FFF;
  font-weight: bold;
}
ion-title{
  --color: #FFFFFF;
  font-weight: bold;
  font-size: 27px;
  margin-top: 18px;
  margin-bottom: 17px;
}
ion-item{
  --background: #526E2DFF;
}
.card-content-md {
  background: #24325FFF;
}
