ion-content{
  --background: #917C5DFF!important;
}
.ion-color{
background-color: #82491EFF!important;
}
ion-button{
  --color: #B7E4F9FF!important;
  --background: #24325FFF;
  font-weight: bold;
}
ion-title{
  --color: #FFFFFF;
  font-weight: bold;
  font-size: 27px;
  margin-top: 18px;
  margin-bottom: 17px;
  text-align: center;
}
.icon_img{
  width: 100%;
}
